body {
  font-family: 'Roboto Mono',monospace;
  min-height: 600px;
  border-radius: 5px;
  background-color: #9932CC;
  background-size: 90vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

label{
  color: White
}

input{
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

button{
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  color: white;
  background-color:#9932CC;
}

#somaFinal{
  font-family: 'Roboto Mono',monospace;
  color: white 
}